body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    background-color: #333;
    color: #fff;
    font-size: 2em; 
    text-align: center; 
    padding: 20px;
}

header h2 {
    background-color: #333;
    color: #fff;
    font-size: 1em; 
    text-align: center; 
    padding: 20px;
}

div {
    color: black;
}

#formContainer {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

#studentItems {
    list-style-type: none;
    padding: 0;
}

.studentItem {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
